
# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Microsoft.Bcl.AsyncInterfaces.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Microsoft.Exchange.Management.AdminApiProvider.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Microsoft.Exchange.Management.ExoPowershellGalleryModule.deps.json
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Microsoft.Exchange.Management.ExoPowershellGalleryModule.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Microsoft.Exchange.Management.RestApiClient.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Microsoft.Identity.Client.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Microsoft.IdentityModel.Abstractions.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Microsoft.IdentityModel.JsonWebTokens.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Microsoft.IdentityModel.Logging.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Microsoft.IdentityModel.Tokens.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Microsoft.OData.Client.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Microsoft.OData.Core.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Microsoft.OData.Edm.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Microsoft.Online.CSE.RestApiPowerShellModule.Instrumentation.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Microsoft.Spatial.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Microsoft.Win32.Registry.AccessControl.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Microsoft.Win32.Registry.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Microsoft.Win32.SystemEvents.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/Newtonsoft.Json.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/System.CodeDom.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/System.Configuration.ConfigurationManager.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/System.Diagnostics.PerformanceCounter.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/System.DirectoryServices.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/System.Drawing.Common.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/System.IdentityModel.Tokens.Jwt.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/System.IO.Abstractions.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/System.Management.Automation.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/System.Management.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/System.Security.AccessControl.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/System.Security.Cryptography.Pkcs.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/System.Security.Cryptography.ProtectedData.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/System.Security.Permissions.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/System.Security.Principal.Windows.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/System.Text.Encodings.Web.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/System.Windows.Extensions.dll
BHRtoAadSync/ExchangeOnlineManagement/3.2.0/netCore/ref/Microsoft.Exchange.Management.ExoPowershellGalleryModule.dll
