
# Azure Functions artifacts
bin
obj
.vscode
.vs
appsettings.json
local.settings.json
*.pfx
*.cer
*.xml
*.dll
DefaultProfilePic.jpg


# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json
